<style>
    .textfield {
        background-color: red;
    }
    .invalid {
        border-color: red;
    }

    .valid {
        border-color: green;
    }

</style>
<form action="/" method="GET" id="credentials" style="padding: 20px; border-radius: 4px;">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="textfield">
        <span id="name-requirements"></span>
    </div>
    <div class="input-control">
        <label for="pword">
            <span>Password</span>
        <input id="pword" name="pword" type="password">
        <ul class="pword-requirements">
            <li>At least PL characters long</li>
            <li>Must only contain letters and numbers (no special characters)</li>
        </ul>
    </label>
    </div>
    <div class="input-control">
        <label for="repeat">
            <span>Password</span>
        <input id="repeat name="repeat type="password">
        <ul class="repeat-requirements">
            <li>At least PL characters long</li>
            <li>Must only contain letters and numbers (no special characters)</li>
        </ul>
    </label>
    </div>
    <button type="submit" style="padding: 10px; margin-top: 10px; width: 100%;">Submit</button>
</form>
<script defer>
const namefield = document.getElementById()

</script>